/*///////////////////URLS FONTS ////////////////////////////////////////////////*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


/*/////////////////// MAINS ////////////////////////////////////////////////////*/

body {
    /*overflow-y: auto; /* Hide vertical scrollbar */
    /*overflow-x: auto; /* Hide horizontal scrollbar */
    background-color: #000;
    color:#fff;
   
  }

.main-content{
    /* min-width: 95vw; */
    /* position: absolute; */
    
    margin-left: 50%;
    transform: translateX(-50%);
    min-height: 75.8vh;
    text-align: center;
    align-content: center;
    display: flex;          /*coloca tudo em linha*/
    flex-direction: column; /*coloca tudo em coluna*/
    align-items: center;    /*alinha horizontalmente*/
    justify-content: center;/*alinha tudo verticalmente com uso de height:100vh*/
    background-color: #000;
    /* max-width: 400px; */
    
    
}

.my-form{
    background-color: darkblue;
    padding: 10px;
    border-radius: 5px;
    /* text-align: center; */
}

.welcome-li{
    background-color: grey;
    padding: 30px;
    font-size: 1.2rem;
    margin: 10px;
    cursor: pointer;
    color: #fff;
}
.welcome-li:hover{
    background-color: darkblue;   
}

.welcome-main ul li{
    display: inline;
}

.all-makes{
    background-color: grey;
    
    max-width: 100%;
    margin-top: 30px;
    padding: 10px;
    border-radius: 5px;
    
}



.all-makes li{ 
    margin: 5px;
    text-align: left;
    padding: 5px;
    /* display: inline; */
    text-align: center;
}
.all-makes li:hover{ 
    background-color: #000;
    border-radius: 5px;
    transform: scale(1.1);
  
}
.all-makes ul a{ 
    color: #fff;
    
}

.all-makes-index{
    background-color: darkgrey; 
    /* text-align: left;   */
    max-width: 100%;
    margin-top: 30px;
    padding: 10px;
    border-radius: 5px;
}
.all-makes-index ul li{
    display: inline;
    background-color: #000;
    color: #fff;
    margin: 10px 5px;
    line-height: 2rem;
    padding: 2px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
}



.mine-input{
    /* background-color: grey; */
    /* color: #fff; */
    font-weight: 900;
    /* width: fit-content; */
    display: flex;
}

.my-label-1{
    background-color: darkblue;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    font-size: 1.5rem;
}
.my-label-1 a{
    color: #fff;
}

.search-tab table tr td a{
    color: #fff;
}
.search-type{
    background-color: darkred;
    padding: 3px;
    border-radius: 2px;
    
}

.card-label{
    background-color: #000;
    color: #fff;
    padding: 3px;
    border-radius: 5px;
    text-transform: uppercase;
}
.card-info{
    background-color: rgb(75, 67, 67);
    width: fit-content;
    color: #fff;
    padding: 6px;
    border-radius: 5px;
    text-transform: uppercase;
}


.img-show{
    max-width: 400px;
    
}

/*/////////////////// TOP BARS AND TITLES ////////////////////////////////////////////////////*/

.top-bar{
    background-color: grey;
    height: 120px;
}


.my-titles{
    color: #fff;
    font-size:3rem;
    font-family: 'Bebas Neue', cursive;
}
.my-titles-2{
    color: #fff;
    position: absolute;
    top: 3%;
   
    font-size: 2.5rem;
    font-family: 'Bebas Neue', cursive;
}

.logo-img{
    width: 150px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top:1%;
    transform: translate(-50%,-1%);
}
.back-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    left: 40%;
    top:4%;
    transform: translate(-50%,-1%);
}

.dropdown {
    padding: 20px;
  
}
.side-box{
    margin-top: 1%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*/////////////////// BUTTONS ////////////////////////////////////////////////////*/
.color-box{
    width: 20px;
    height: 20px; 
    margin:auto;
    display: inline-block; 
    border: 1px solid gray; 
    vertical-align: middle; 
    border-radius: 2px;
}
.hero-btn{
    background-color: #fff;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    display: inline;
    border: 2px #000 solid;
    min-width: 100px;

}
.hero-btn:hover{
    background-color: darkblue;
    color: #fff;
}

.welcome-btn{
    background-color: darkblue;
    padding: 20px;
    margin: 10px;
    color: #fff;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.welcome-btn:hover{
    background-color: darkgrey;
    color: #000;
    transform: scale(1.1);
}

.btn-mine{
    background-color: #000;
    color: #fff;
}

.pre-nex{
    margin-top: 100px;
}
.pre-nex2{
    margin-top: 30px;
}

.message-box{
    background-color: darkblue;
    width: fit-content;
    text-align: center;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 10%;
    padding: 10px;
    border-radius: 5px;
}
/*///////////////OVER WRITTEN CLASSES BOOTSRAPT ////////////////////////////////////////////////////////////////////*/
.card-header-title {
    display: inline;
}


/*///////////////MEDIA QUERYS////////////////////////////////////////////////////////////////////*/
@media(max-width: 480px)        /*para ecras mais pequenos*/
{

    .main-content{
        /* min-width: 95vw; */
        /* position: absolute; */
        
        /* margin-left: 50%;
        transform: translateX(-50%); */
        min-height: 79vh;
        text-align: center;
       /* align-content: center;
        /*display: flex;          /*coloca tudo em linha*/
        /*flex-direction: column; /*coloca tudo em coluna*/
       /* align-items: center;    /*alinha horizontalmente*/
        justify-content: center;/*alinha tudo verticalmente com uso de height:100vh*/
        background-color: #000;
        /* max-width: 480px; */
        
        
    }

    .welcome-main ul li{
        display: flex;
        flex-direction: column;
    }
  
    
  
    .logo-img{
        width: 80px;
        height: 60px;
        border-radius: 50%;
        position: absolute;
        left: 85%;
        top:2%;
        transform: translate(-50%,-1%);
    }
    .back-img{
       
        left: 56%;
    
    }
    .my-show{
        text-align: center;
        max-width: 480px;
    }
    .pre-nex p{
        margin-top: 10px;
    }
    .pre-nex2 p{
        margin-top: 10px;
    }
 
.my-titles{
    visibility: hidden;
}
.my-titles-2{
   visibility: hidden;
}
   

}

@media (max-width : 600px)
{
    .main-content{
        /* min-width: 95vw; */
        /* position: absolute; */
        
        /* margin-left: 50%;
        transform: translateX(-50%); */
        min-height: 79vh;
        text-align: center;
       /* align-content: center;
        /*display: flex;          /*coloca tudo em linha*/
        /*flex-direction: column; /*coloca tudo em coluna*/
       /* align-items: center;    /*alinha horizontalmente*/
        justify-content: center;/*alinha tudo verticalmente com uso de height:100vh*/
        background-color: #000;
        /* min-width: 598px;        */
    }

    .logo-img{
        width: 80px;
        height: 60px;
        border-radius: 50%;
        position: absolute;
        left: 85%;
        top:2%;
        transform: translate(-50%,-1%);
    }

    .back-img{
       
        left: 56%;
    
    }
    .welcome-main ul li{
        display: flex;
        flex-direction: column;
    }
    .logo-img img{
        width: 10%;
        height: 10px;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top:1%;
        transform: translate(-50%,-1%);
    }
    .my-show{
        text-align: center;
        max-width: 480px;
    }
    .pre-nex {
        margin-top: 10px;
    }
    .pre-nex2 {
        margin-top: 10px;
    }
    .my-titles{
        visibility: hidden;
    }
    .my-titles-2{
       visibility: hidden;
    }
 

}

/*///////////////////////////////HIDE ME //////////////////////////////////////*/

#hideMe {
    -moz-animation: cssAnimation 0s ease-in 2s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 2s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 2s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 2s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}

/*///////////////////////////////INPUT LICENCE PLATE //////////////////////////////////////*/

footer{
    padding: 0.5rem;
    text-align: center;
    color:#fff;
    /* position: relative; */
    /* position: absolute; */
    /* bottom: 0rem;  */
    /* left: 50%;  */
    /* transform: translateX(-50%); */
    clear: both;
    position: relative;
    /* height: 200px; */
    /* margin-top: -200px; */

}

footer:hover{
    background-color: #333;
    color: #fff;
    border-radius: 10px;
    /* transform:  scale(1.1);  */
}
footer:hover a{
    color: yellow;
    font-weight: 700;
}
footer:hover a:hover{
    font-weight: 900;
    color:greenyellow;
}

footer a{
   color: #fff;  /*cor dos links a preto*/
   text-decoration: none;     /*retira o sublinhado dos links*/
  
}

footer a:hover{
    color: var(--gold-cor);
}
